<div class="container">
    <form (submit)="register($event)" class="form">
        <h1 class="heading">Register</h1>
        <div>
            <input type="text" id="name" class="input" placeholder="Name" required (change)="nameChangeHandler($event)">
        </div>
        <div>
            <input type="email" id="email" class="input" placeholder="Email" required (change)="emailChangeHandler($event)">
        </div>
        <div>
            <input type="password" id="password" class="input" placeholder="Password" required (change)="passwordChangeHandler($event)">
        </div>
        <div>
            <input type="password" id="confirmPassword" class="input" placeholder="Confirm Password" required (change)="confirmPasswordChangeHandler($event)">
        </div>
        @if(emailSending===true)
        {
            <button disabled class="sending-btn">Registering and Sending Email...</button>
        }
        @else{
            <button type="submit" class="register-btn">Register</button>
            
            <div class="footer">
                Already have an account? <a routerLink="../login">Login</a>
            </div>
        }
    </form>
</div>