


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}
.form{
    background: #ccccccc9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgb(75, 74, 74);
}
.form .input {
    background: #eeeeeec7;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 370px;
	font-size: 20px;
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
}
.heading{
    text-align: center;
}
.reset-password-btn {
	margin: 50px 0px 0px 0px;
    border-radius: 40px;
    border: none;
    background: #ff4b2be0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
	padding: 15px;
	cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px rgb(124, 121, 121);
} 

.sending-btn {
    margin: 50px 0px 0px 0px;
    border-radius: 40px;
    border: none;
    background: #5c5b5ae0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    cursor:not-allowed;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px rgb(124, 121, 121);
} 


.reset-password-btn:hover{
    background: #ce361be8;
}
.reset-password-btn:active{
    background: #752d20e8;
    box-shadow: 0px 0px 10px rgb(77, 76, 76);
}
.footer{
    text-align: center;
    margin-top: 20px;
}