<div class="container">
    <form (submit)="forgot_password($event)" class="form">
        <h1 class="heading">Forget Password</h1>
        <div>
            <input type="email" id="email" class="input" placeholder="Email" required (change)="emailChangeHandler($event)">
        </div>
        <div>
            <input type="password" id="password" class="input" placeholder="New Password" required (change)="passwordChangeHandler($event)">
        </div>
        <div>
            <input type="password" id="password" class="input" placeholder="Confirm New Password" required (change)="confirmPasswordChangeHandler($event)">
        </div>
        @if(emailSending===true)
        {
            <button disabled class="sending-btn">Sending Email...</button>
        }
        @else{
            <button type="submit" class="reset-password-btn">Reset Password</button>

            <div class="footer">
                Go back to
                <a routerLink="../login">Login</a> 
            </div>
            <div class="footer footer2"> 
                Don't have an account?
                <a routerLink="../register">Register</a>
            </div>
        }

    </form>
</div>